arabic_reshaper==3.0.0
brotli==1.1.0
ConfigParser==6.0.0
cryptography>=41.0.5
Cython==3.0.7
django==3.2.10
dl==0.1.0
docutils==0.20.1
HTMLParser==0.0.2
importlib_metadata==6.0.0
keyring==24.3.0
langid==1.1.6
lockfile==0.12.2
lxml==4.9.4
monotonic==1.6
numpy==1.26.2
ordereddict==1.1
Pillow==10.1.0
protobuf==4.25.1
pyOpenSSL==23.3.0
python_bidi==0.4.2
thread==0.1.3
tornado==6.4
django-social-share
# wincertstore==0.2.1
# xmlrpclib==1.0.1
# zipp==3.12.1
